@charset "UTF-8";
html, body, div, span, a, p, input,
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: inherit;
  background: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: 1em;
  border: none;
  outline: none;
  text-decoration: inherit;
}
html {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", sans-serif;
  font-size: 16px;
}
/* HEADER CSS */
#header {
  background: #FFC107;
}
  #header > div {
    max-width: 960px;
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    align-items: center;
  }
  #header > div > *:first-child {
    margin: 0 auto 0 0;
  }
