#expense-header {
  width: 100%;
  top: 0;
  z-index: 5;
  background: #FFC107;
}
  #expense-header > div {
    padding: 1rem;
    position: relative;
  }
    #balance {
      position: absolute;
    }
#content {
  margin: 0 auto;
}
  #new-expense {
    position: relative;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
  }
    #expense-name {
      border-right: 1px solid rgba(0, 0, 0, .1);
    }
    #expense-income {
      position: absolute;
      border-left: 1px solid rgba(0, 0, 0, .1);
      text-align: right;
    }
    #expense-button {
      position: absolute;
      background: #8BC34A;
      border-radius: 50%;
    }
    #expense-button:hover {
      cursor: pointer;
      background: #689F38;
    }
  div.expense {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
  }
  div.expense:last-of-type {
    border: none;
  }
    div.expense > span.expense-name {
      border-right: 1px solid rgba(0, 0, 0, .1);
    }
    div.expense > span.expense-time {
      text-align: center;
    }
    div.expense > span.expense-income {
      text-align: right;
      border-left: 1px solid rgba(0, 0, 0, .1);
    }
    div.expense > input.expense-erase {
      background: #F44336;
      border-radius: 50%;
    }
    div.expense > input.expense-erase:hover {
      cursor: pointer;
      background: #D32F2F;
    }
@media all and (min-width: 1024px) {
  #expense-header > div {
    width: 960px;
    margin: 0 auto;
    padding: 1rem;
  }
    #balance {
      padding: 0 1rem;
      right: 2.25rem;
    }
#content {
  width: 960px;
}
  #new-expense {
    padding: .5rem 1rem;
  }
    #new-expense > input {
      line-height: 1.5rem;
    }
    #expense-name {
      width: 448px;
    }
    #expense-income {
      width: 300px;
      padding: 0 1rem;
      right: 2.25rem;
    }
    #expense-button {
      height: 1.5rem;
      width: 1.5rem;
      right: 1rem;
    }
  div.expense {
    padding: .5rem 1rem;
  }
    div.expense > span {
      line-height: 1.5rem;
    }
    div.expense > span.expense-name {
      width: 448px;
    }
    div.expense > span.expense-time {
      width: 160px;
    }
    div.expense > span.expense-income {
      width: 300px;
      padding: 0 1rem;
    }
    div.expense > input.expense-erase {
      height: 1.5rem;
      width: 1.5rem;
    }
}
@media all and (max-width: 1023px) {
  #expense-header > div {
    padding: .5rem;
  }
    #balance {
      right: 2.25rem;
    }
    #new-expense {
      padding: .5rem;
    }
      #new-expense > input {
        line-height: 1.25rem;
      }
      #expense-name {
        width: 50%;
      }
      #expense-income {
        width: 30%;
        right: 2.25rem;
      }
      #expense-button {
        height: 1.25rem;
        width: 1.25rem;
        right: .5rem;
      }
  div.expense {
    padding: .5rem;
  }
    div.expense > span {
      line-height: 1.25rem;
    }
    div.expense > span.expense-name {
      width: 50%;
    }
    div.expense > span.expense-time {
      width: 20%;
      overflow-x: scroll;
    }
    div.expense > span.expense-income {
      width: 30%;
      padding: 0 .25rem;
    }
    div.expense > input.expense-erase {
      height: 1.25rem;
      width: 1.25rem;
    }
}
