body {
  background: rgba(0, 0, 0, .05);
}
#infoBar {
  background: #FFF;
  font-size: 14px;
  border-bottom: 1px solid rgba(0, 0, 0, .05);
}
  #infoBar > div {
    height: 3em;
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
    #infoBar > div > a.add {
      height: 2.5em;
      width: 2.5em;
      opacity: .7;
      border-radius: 50%;
      overflow: hidden;
      cursor: pointer;
    }
    #infoBar > div > a.add:hover {
      background: rgba(0, 0, 0, .15);
    }
      #infoBar > div > a.add > img {
        height: 2em;
        width: 2em;
        padding: .25em;
      }
    #infoBar > div > #balance {
      margin: 0 0 0 auto;
    }
  #content > div {
    max-width: 960px;
    margin: 0 auto;
  }
  #type {
    height: 3em;
    padding: 1em;
    font-size: .875rem;
    position: relative;
  }
    #type > span {
      position: absolute;
      top: 1em;
    }
    #type > span:nth-child(1) {
      left: 1em;
    }
    #type > span:nth-child(2) {
      right: 160px;
    }
    #type > span:nth-child(3) {
      right: 1em;
    }
    #exs > a.ex {
      height: 3em;
      display: block;
      font-size: .875rem;
      background: #FFF;
      border-bottom: 1px solid rgba(0, 0, 0, .05);
      cursor: pointer;
      position: relative;
    }
    #exs > a.ex:last-child {
      border: none;
    }
    #exs > a.ex:hover {
      box-shadow: 0 0 0 .125rem #2196F3 inset;
    }
      #exs > a.ex > span {
        position: absolute;
        top: 1em;
      }
      #exs > a.ex > span:nth-child(1) {
        left: 1em;
      }
      #exs > a.ex > span:nth-child(2) {
        right: 160px;
      }
      #exs > a.ex > span:nth-child(3) {
        right: 1em;
      }
      .minus {
        color: #F44336;
      }
#edit {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #FFF;
  display: none;
}
  #edit input {
    display: block;
  }
  #edit > div {
    max-width: 960px;
    padding: 1rem 0;
    margin: 0 auto;
  }
    #editHeader {
      margin: 0 0 1rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
      #editHeader > a.close {
        height: 2.5rem;
        width: 2.5rem;
        display: block;
        opacity: .7;
        cursor: pointer;
        border-radius: 50%;
        overflow: hidden;
      }
      #editHeader > a.close:hover {
        background: rgba(0, 0, 0, .15);
      }
        #editHeader > a.close > img {
          height: 2rem;
          width: auto;
          padding: .25rem;
        }
      input#editName {
        height: 2.5rem;
        width: 640px;
        padding: 0 .5rem;
        color: rgba(0, 0, 0, .7);
        background: rgba(0, 0, 0, .05);
        font-size: 1rem;
        border-radius: .25rem;
      }
      #editHeader > a.editButton {
        height: 2.5rem;
        width: 116px;
        padding: .75rem 0;
        color: #FFF;
        border-radius: .25rem;
        text-align: center;
        cursor: pointer;
      }
      #editHeader > a.exSave {
        background: #2196F3;
      }
      #editHeader > a.exErase {
        background: #F44336;
      }
    #editContent {
      display: flex;
      justify-content: space-between;
    }
      #editIncome {
        height: 2.5rem;
        width: calc(50% - .5rem);
        padding: 0 .5rem;
        color: rgba(0, 0, 0, .7);
        background: rgba(0, 0, 0, .05);
        border-radius: .25rem;
        text-align: right;
      }
      #editTime {
        height: 2.5rem;
        width: calc(50% - .5rem);
        padding: 0 .5rem;
        color: rgba(0, 0, 0, .7);
        background: rgba(0, 0, 0, .05);
        border-radius: .25rem;
        text-align: right;
      }
@media all and (max-width: 1024px) {
  #infoBar > div {
    max-width: unset;
    padding: .5em;
  }
  #type {
    display: none;
  }
  #content > #exs {
    max-width: unset;
  }
      #exs > a.ex {
        height: 3.5em;
      }
      #exs > a.ex > span {
        top: .5em;
      }
      #exs > a.ex > span:nth-child(1) {
        left: .5em;
      }
      #exs > a.ex > span:nth-child(2) {
        top: 2em;
        left: .5em;
        color: rgba(0, 0, 0, .5);
      }
      #exs > a.ex > span:nth-child(3) {
        right: .5em;
      }
  #edit > div {
    max-width: unset;
    padding: .5rem 0;
  }
    #editHeader {
      height: 2.5rem;
      margin: 0 0 .5rem;
      display: block;
    }
      #editHeader > .close {
        position: absolute;
        left: .5em;
      }
      #editHeader > #editName {
        width: calc(100% - 1.5em - 2.5rem);
        position: absolute;
        right: .5em;
      }
      #editHeader > #exSave {
        width: calc(50% - .75em);
        display: block;
        position: absolute;
        top: 9.5em;
        left: .5em;
      }
      #editHeader > #exErase {
        width: calc(50% - .75em);
        display: block;
        position: absolute;
        top: 9.5em;
        right: .5em;
      }
    #editContent {
      padding: 0 .5em;
      display: block;
    }
      #editContent > input {
        width: 100%;
        margin: 0 0 .5em;
      }
}
