{{ define "META" }}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{ .Common.URL }}static/common.css">

{{ end }}

{{ define "HEADER" }}
<div id="header">
  <div>
    <div>
      <img src="{{ .Common.URL }}static/manense.svg" alt="manense icon" style="width: 1.5rem; margin: 0 0.5rem 0 0;">
      <a href="{{ .Common.URL }}">manense</a>
    </div>

    {{ if .User.ID }}
    <a href="{{ .Common.URL }}signout">Signout</a>

    {{ else }}
    <a href="{{ .Common.AURL }}">Signin</a>

    {{ end}}
  </div>
</div>

{{ end }}