<!DOCTYPE html>
<html lang="ja">
<head>
  {{ template "META" . }}
  <link rel="stylesheet" href="/static/home.css">
  <title>{{ .Common.Name }}</title>
</head>
<body>
  {{ template "HEADER" . }}
  <div id="infoBar">
    <div>
      <a class="add" onclick="exMenu('', true);"><img src="/static//add.svg" alt="ADD"></a>
      <div id="balance">残高 : {{ .User.Balance }}</div>
    </div>
  </div>
  <div id="content">
    <div id="type">
      <span>名前</span>
      <span>年月日</span>
      <span>金額</span>
    </div>
    <div id="exs">
    {{ if .User.ID }}
      {{ range .Expenses }}
      <a id="{{ .UUID }}" class="ex" onclick="exMenu('{{.UUID}}', true);"><span>{{.Name}}</span><span>{{.Time.Year}}-{{.Time.Month | printf "%02d"}}-{{.Time.Day | printf "%02d"}}</span><span>{{.Income}}</span></a>
      {{ end }}
    {{ else }}
    {{ end }}
    </div>
  </div>
  <div id="edit">
    <div>
      <div id="editHeader">
        <a class="close" onclick="exMenu('', false);"><img src="/static/clear.svg" alt="X"></a>
        <input type="text" id="editName" autocomplete="off" placeholder="入出金の名前">
        <a class="editButton exSave" onclick="exSave();">保存</a>
        <a class="editButton exErase" onclick="exErase();">削除</a>
      </div>
      <div id="editContent">
        <input type="number" id="editIncome" autocomplete="off" placeholder="金額">
        <input type="date" id="editTime">
      </div>
    </div>
  </div>
<script src="/static/home.js"></script>
</body>
</html>