<!DOCTYPE html>
<html lang="ja">
<head>
  {{ template "META" . }}
  <link rel="stylesheet" href="/static/home.css">
  <title>{{ .Common.Name }}</title>
</head>
<body>
  {{ template "HEADER" . }}
  {{ if .User.ID }}
  <div id="expense-header">
    <div>
      <span>{{ .User.Name }}</span>
      <span id="balance">{{ .User.Balance }} 円</span>
    </div>
  </div>
  <div id="content">
    <div id="new-expense">
      <input type="text" name="expense-name" autocomplete="off" placeholder="内容" id="expense-name">
      <input type="number" name="expense-income" autocomplete="off" placeholder="金額" id="expense-income">
      <button onclick="newExpense();" id="expense-button"></button>
    </div>
    <div id="expenses">
    {{ range .Expenses }}
      <div id="{{ .UUID }}" class="expense"><span class="expense-name">{{ .Name }}</span><span class="expense-time">{{ .Time.Year }} {{ .Time.Month }} {{ .Time.Day }}</span><span class="expense-income">{{ .Income }} 円</span><button class="expense-erase" onclick="eraseExpense('{{ .UUID }}');"></button></div>
    {{ end }}
    </div>
    <script src="/static/home.js"></script>
  {{ else }}
  {{ end }}
  </div>
</body>
</html>