<!DOCTYPE html>
<html lang="ja">
<head>
  {{ template "META" . }}
  <link rel="stylesheet" href="{{ .Common.URL }}static/home.css">
  <title>{{ .Common.Name }}</title>
</head>
<body>
  {{ template "HEADER" . }} {{ if .User.ID }}
  <div id="infoBar">
    <div>
      <div id="balance">残高 : {{ .Balance }} 円</div>
    </div>
  </div>
  <div id="content">
    <div id="type">
      <span>名前</span>
      <span>年月日</span>
      <span>金額</span>
    </div>
    <div id="exs">
      {{ range .Expenses }}
      <a id="{{ .UUID }}" class="ex" style="cursor: unset"><span>{{.Name}}</span><span>{{.Time.Year}}-{{.Time.Month | printf "%02d"}}-{{.Time.Day | printf "%02d"}}</span><span>{{.Income}} 円</span></a>
      {{ end }} {{ else }} {{ end }}
    </div>
  </div>
</body>
</html>